<mat-card *ngIf="country$ | async as country" class="country-detail">
  <mat-card-title>
    {{ country.name }}
  </mat-card-title>
  <mat-card-subtitle> Capital: {{ country.capital }} </mat-card-subtitle>

  <h2>Weather in {{ country.capital }}</h2>

  <app-weather-list
    *ngIf="weather$ | async as weatherData; else loading"
    [weatherDays]="weatherData"
  ></app-weather-list>

  <ng-template #loading> Loading... </ng-template>

  <h2>Select weather by city:</h2>
  <button type="button" routerLink="/weather">click</button>
</mat-card>
