<form [formGroup]="searchForm" (ngSubmit)="searchForm.valid && onSubmit()">
  <input type="text" formControlName="city" />
  <button type="submit">Search</button>
</form>

<div *ngIf="weather$ | async as weatherData">
  <h1>
    {{ weatherData.city.name | titlecase }}
  </h1>

  {{ sunriseSunsetTime.sunrise | date: "h:mm:ss a" }}
  {{ sunriseSunsetTime.sunset | date: "h:mm:ss a" }}

  <app-weather-list
    *ngIf="weatherData; else noWeather"
    [weatherDays]="weatherData"
  ></app-weather-list>

  <ng-template #noWeather>Search for a Weather by city</ng-template>
</div>

<div *ngIf="errorMessage$ | async as errorMessage">
  {{ errorMessage.error.message }}
</div>
