<div class="countries-wrapper">
  <h1>Countries List</h1>

  <mat-form-field appearance="outline" class="search-bar">
    <mat-label>Country Search</mat-label>
    <input
      matInput
      (keyup)="filterCountries()"
      type="search"
      [(ngModel)]="searchCountry"
    />
  </mat-form-field>

  <div class="countries-inner">
    <div *ngIf="countries$ | async as countries" class="inner-cards">
      <ng-container
        #filteredCountries
        *ngFor="let country of countries | countriesFilter: searchCountry"
      >
        <div [ngClass]="{ disabled: (selectedCountry$ | async) === country }">
          <app-country-card
            *ngIf="filtered !== 0 && !(filtered > 20)"
            [country]="country"
            [ngClass]="{ active: (selectedCountry$ | async) === country }"
            (click)="selectedCountry$ && onSelected(country.id)"
          ></app-country-card>
        </div>
      </ng-container>
    </div>

    <div class="inner-detail">
      <app-country-detail></app-country-detail>
    </div>
  </div>

  <!--<div *ngIf="searchCountry === '' || filtered === 0 || filtered > 20"></div>-->

  <div *ngIf="errorMessage$ | async as errorMessage">
    {{ errorMessage }}
  </div>
</div>
