<div class="country-list-wrapper">
  <mat-form-field appearance="outline" class="search-bar">
    <mat-label>Country Search</mat-label>
    <input
      matInput
      (keyup)="filterCountries()"
      type="search"
      [(ngModel)]="searchCountry"
    />
  </mat-form-field>

  <div *ngIf="countries$ | async as countries">
    <div
      #filteredCountries
      *ngFor="let country of countries | countriesFilter: searchCountry"
    >
      <app-country-card
        *ngIf="filtered !== 0 && !(filtered > 20)"
        [country]="country"
        (click)="onSelected(country.id)"
      ></app-country-card>
    </div>
  </div>

  <div *ngIf="searchCountry === '' || filtered === 0 || filtered > 20">
    <h3>Search for a country</h3>
  </div>
</div>

<app-country-detail></app-country-detail>

<div *ngIf="errorMessage">
  {{ errorMessage }}
</div>
